body {
    background-color: rgb(174, 213, 246);
}

.homepage {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: rgb(174, 213, 246);
    /* border: 2px indigo solid; */
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    border: 1px darkgray;
    color: lavender;
    background-color:grey;
}

.content {
display:flex;
flex-flow: row;
justify-content: space-between;
background-color: rgb(174, 213, 246);
}

.content--left{
    width: 80%;
    display: flex;
    flex-flow: column;
    /* border: 2px red solid; */
    background-color: rgb(174, 213, 246);
}

.fish {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* border: 2px indigo solid; */
}

.fish--title {
    width: 100%;
    display: flex;
    flex-flow: row;
    border-bottom:3px solid grey;
    /* border: 2px indigo solid; */
}

.fish--block {
    display: flex;
    width: 25%;
    flex-flow: column wrap;
    border: 2px;
    background-color: lavender;
    
}

.fish--block--img {
    display:flex;
    
}

img {
    width: 100%;
    height:auto;
}

.fish--block--text {
    width:100%;
    height:auto;
    /* border: 2px indigo solid; */
}

.quotes {
    width: 100%;
    display:flex;
    flex-flow: column;
    /* border: 2px indigo solid; */
}

.quotes--title {
    display: flex;
    flex-flow: row;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    /* border: 2px indigo solid; */
}

.quotes--block {
    display:flex;
    flex-flow: row;
    justify-items: space-between;
    /* border: 2px indigo solid; */
}

.locations {
    width: 100%;
    display:flex;
    flex-flow: column;
    /* border: 2px indigo solid; */
}

.locations--title {
    display: flex;
    flex-flow: row;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    /* border: 2px indigo solid; */
}

.locations--block {
    display:flex;
    flex-flow: row;
    /* border: 2px indigo solid; */
}

.content--right {
    width:20%;
    display:flex;
    flex-direction: column;
    border: 5px dotted lavender;
    float:right;
    margin-left:auto;
}

.care {
    align-items: flex-end;
    /* border: 2px indigo solid; */
}

.care--title {
    width: 100%;
    margin: 2em;
    /* border: 2px indigo solid; */
}

.care--block {
    margin: 1em;
    /* border: 2px indigo solid; */
}